@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin article-style--21px () {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
