@import "normalize.scss";

// шрифт
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  src: local("PT Sans Bold"),
       url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}

// подключение переменных
@import "variables.scss";

body {
  background: #f2f2f2;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  min-width: 320px;
  @media ($tablet-width) {
    min-width: 768px;
  }
  @media ($desktop-width) {
    min-width: 1200px;
  }

}

.wrapper {
  background: white;
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 -5px 9px 2px #dbdbdb;

  @media ($tablet-width) {
    width: 100%;
  }

  @media ($desktop-width) {
    width: 1200px;
  }
}

// подключение миксинов
@import "mixins.scss";


// подключение миксинов

// подключение всех стилей
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/logo.scss";
@import "blocks/intro-index.scss";
@import "blocks/intro.scss";
@import "blocks/footer.scss";
@import "blocks/hashtag.scss";
@import "blocks/social-btns.scss";
@import "blocks/social-btn.scss";
@import "blocks/copyright.scss";
@import "blocks/advantages.scss";
@import "blocks/advantage.scss";
@import "blocks/picture-advantage.scss";
@import "blocks/icon-advantages.scss";
@import "blocks/find-hotel.scss";
@import "blocks/map.scss";
@import "blocks/map-canvas.scss";
@import "blocks/photos.scss";
@import "blocks/photo.scss";
@import "blocks/main-promo.scss";
@import "blocks/video.scss";
@import "blocks/form.scss";
@import "blocks/form-sections.scss";
@import "blocks/form-submit.scss";

@import "blocks/popup.scss";
@import "blocks/hamburgers/hamburgers.scss";
