$border: 1px solid black;

$mobile-width-only: "(max-width: 767px)";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";

$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;

$white30: rgba(255,255,255,0.3);

$black30: rgba(0,0,0,0.3);
