.copyright {
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  @media ($tablet-width) {
    padding: 0px;
    margin: 0px;
    width: 33.333333%;
    display: inline-block;
    vertical-align: middle;
  }
  @media ($desktop-width) {
    padding-left: 180px;
    box-sizing: border-box;
  }
}

.copyright__link {
  font-size: 0px;
  height: 53px;
}

.copyright--done,
.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright--icon:hover {
  fill: $blue;
}

.copyright--icon:active {
  fill: #b2b2b2;
}
