.find-hotel {
  @include after-intro__header;
  &__title {
    @include after-intro__title;
    font-size: 21px;
    margin: 0;
  }
  &__description {
    @include after-intro__description;
    margin-bottom: 30px;
  }
}

.find-hotel__shift {
  display: inline;
  @media ($tablet-width) {
    display: block;
  }
}

.find-hotel__title {
  @media ($desktop-width) {
    padding-top: 0px;
  }
}

.btn {
  @include btn;
}

.btn--find {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 27px;
  width: 280px;
  @media ($tablet-width) {
    margin-bottom: 20px;
    width: 458px;
  }
  @media ($desktop-width) {
    margin-bottom: 27px;
  }
}
