.form {
  border: $border;
  position: relative;
  @include clearfix;
  @media ($tablet-width) {
    height: 1000px;
  }
}

.form__section {
  border: $border;
  padding: 20px;
  @media ($tablet-width) {
    padding: 60px;
  }

  @media ($desktop-width) {

    }

}

.form__section--impression {
  @media ($tablet-width) {
    position: absolute;
    top: 100px;
    left: 60px;
  }
}

.form__section--meet {
  @media ($tablet-width) {
    position: absolute;
    top: 100px;
    right: 60px;
  }
}

.form__section--contacts {
  @media ($tablet-width) {
    position: absolute;
    top: 300px;
    width: 88%;
  }
}

.form__section--attract {
  @media ($tablet-width) {
    position: absolute;
    top: 500px;
    width: 88%;
  }
}

.form__section--feel {
  @media ($tablet-width) {
    position: absolute;
    top: 700px;
    width: 88%;
  }
}

.form-submit {
  @media ($tablet-width) {
    position: absolute;
    top: 900px;
    width: 40%;
  }
}
