.form {
  @media ($tablet-width) {
    padding: 0 8%;
  }
  @media ($desktop-width) {
    padding: 0 10%;
  }
}

.form__header {
  @include after-intro__header;
  padding-bottom: 6px;
}

.form__header {
  @media ($desktop-width) {
    padding: 60px 15% 30px;
  }
}

.form__title {
  @include after-intro__title;
}

.form__description {
  @include after-intro__description;
  padding-top: 10px;
  &--br {
    display: inline;
    @media ($tablet-width) {
      display: block;
    }
  }
}

.form__line {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  position: relative;
  min-height: 60px;
  @media ($tablet-width) {
    min-height: 0px;
    padding-top: 0px;
  }
}

.form__legend {
  font-size: 18px;
  line-height: 26px;
  color: black;
  font-weight: bold;
  text-align: center;
  @media ($tablet-width) {
    text-align: left;
    min-width: 258px;
    font-size: 21px;
    margin-bottom: 45px;
    &--hide {
      display: none;
    }
  }
  @media ($desktop-width) {
    width: 400px;
    &--hide {
      display: inline;
    }
  }
}

.form__legend--decoration {
  @media ($tablet-width) {
    text-align: center;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    &:before {
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background: #dbdbdb;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
    &-title {
      width: 50%;
    }
    &:after {
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background: #dbdbdb;
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }
  @media ($desktop-width) {
    margin-bottom: 45px;
    &:before {
      width: 30%;
    }
    &-title {
      width: 40%;
    }
    &:after {
      width: 35%;
    }
  }
}

.form__line--contact {
  width: 100%;
  position: relative;
  @media ($tablet-width) {
    margin-top: 15px;
  }
  @media ($desktop-width) {
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.form__line--hide {
  @media ($desktop-width) {
    display: none;
  }
}

input[type="text"] {
  border: 4px solid #f2f2f2;
  outline: none;
  background: #f2f2f2;
  height: 50px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}

input.form__meet[type="text"] {
  width: 164px;
  margin-left: 15px;
  @media ($tablet-width) {
    width: 144px;
  }
  @media ($desktop-width) {
    width: 284px;
  }
}

input.form__meet--long[type="text"] {
  width: 202px;
  @media ($tablet-width) {
    width: 182px;
  }
  @media ($desktop-width) {
    width: 322px;
  }
}

input.form__contact[type="text"] {
  width: 252px;
  @media ($tablet-width) {
    width: 100%;
    box-sizing: border-box;
    height: 58px;
  }
  @media ($desktop-width) {
    width: 257px;
  }
}

input[type="text"]:hover {
  background: #e5e5e5;
  border: 4px solid #e5e5e5;
}

input[type="text"]:focus,
input[type="text"]:focus:hover {
  background: white;
  border: 4px solid #e5e5e5;
}



.form__wrap {
  position: relative;
  margin-top: 10px;
  width: 280px;
  @media ($tablet-width) {
    width: 100%;
  }
  @media ($desktop-width) {
    width: 315px;
  }
}

.form__icon {
  width: 60px;
  height: 60px;
  background: #e6e6e6;
  position: absolute;
  display: inline;
  right: 0;
  top: 0;
  @media ($tablet-width) {
    height: 58px;
  }
}

.form__icon:after {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.form__icon--phone:after {
  content: url("../img/icon-phone.svg");
  width: 18px;
}

.form__icon--mail:after {
  content: url("../img/icon-mail.svg");
  width: 16px;
}

.form__padding {
  padding-left: 20px;
  @media ($desktop-width) {
    padding: 0px;
  }
}

.form__error {
  text-transform: none;
  color: #ff5c5c;
  margin: 0px;
  margin-bottom: -10px;
  @media ($tablet-width) {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
  }
  @media ($desktop-width) {
    right: 180px;
    top: -20px;
  }
}

.form__legend--margin20 {
  margin-bottom: 19px;
  @media ($tablet-width) {
    margin-bottom: 45px;
  }
}

.form__legend--margin80 {
  @media ($desktop-width) {
    margin-left: 80px;
  }
}


.form__line--impression {
  min-height: 48px;
  @media ($tablet-width) {
    min-height: 42px;
  }
}

.form-atractions {
  margin-bottom: -22px;
  @media ($tablet-width) {
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -44px;
  }
  @media ($desktop-width) {
    width: 100%;
  }
}

.form__line--atraction {
  @media ($tablet-width) {
    min-width: 180px;
    margin-top: 60px;
    &:nth-child(1) {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}


.form__line--impression label,
.form__line--atraction label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 80px;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

input.form__impression[type="radio"],
input.form__atraction[type="checkbox"] {
  display:none;
}

.form__line--impression label:before,
.form__line--atraction label:before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #f2f2f2;
  width: 56px;
  height: 56px;
}

.form__line--impression label:before {
    border-radius: 50%;
}

.form__line--atraction label:before {
  border-radius: 5px;
}

.form__line--impression label:hover:before,
.form__line--atraction label:hover:before {
  background: #e5e5e5;
}

.form__line--impression label:active:before,
.form__line--atraction label:active:before {
  background: #d5d5d5;
}

input.form__impression[type=radio]:checked + label:before {
  content: "\2022";
  text-align: center;
  font-size: 70px;
  padding-top: 10px;
  height: 46px;
}

input.form__atraction[type=checkbox]:checked + label:before {
  content: url("../img/icon-tick.svg");
  text-align: center;
  font-size: 70px;
  height: 56px;
}

.form__comment textarea {
  border: none;
  outline: none;
  background: #f2f2f2;
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 15px 20px;
  width: 240px;
  min-height: 125px;
  margin-top: 20px;
  margin-bottom: 25px;
  @media ($tablet-width) {
    width: 100%;
    box-sizing: border-box;
    height: 160px;
    margin-top: 50px;
  }
  @media ($desktop-width) {
    margin-top: 20px;
  }
}
