.intro {
  position: relative;
  width: 100%;
  background-image: url("../img/bg-back-mobile.jpg");
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .intro-index {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  @media ($desktop-width) {
    background-image: url("../img/bg-back-desktop.jpg");

    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
       .intro-index {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }

  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 27px;

    @media ($tablet-width) {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100% 57px;
      bottom: 0;
    }
    @media ($desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

}

.intro__image {
  padding-top: 90px;
  padding-bottom: 80px;
  display: block;
  margin: 0 auto;
  width: 229px;
  height: 39px;

  @media ($tablet-width) {
    width: 458px;
    height: 78px;
    padding-top: 78px;
    padding-bottom: 90px;
  }

  @media ($desktop-width) {
    width: 461px;
    height: 80px;
  }

}
