.intro-index {
  border: $border;
  background: $blue url("../img/bg-back-mobile.jpg") center center no-repeat;
  background-size: cover;

  &:after {
    content: "";
    display: block;
    background: red;
    height: 50px;
    width: 100%;
  }

}

.intro-index__image {
  padding-top: 90px;
  padding-bottom: 80px;
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 215px;

  @media ($tablet-width) {
    width: 466px;
    height: 367px;
    padding-top: 78px;
    padding-bottom: 90px;
  }

}
