.logo {
  position: relative;
  width: 102px;
  height: 83px;
  margin: 0 auto;
  z-index: 9998;

  @media ($tablet-width) {
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
  left: 50%;
  }

  @media ($desktop-width) {
    width: 188px;
    height: 96px;
  }
}
