.menu {
  text-align: center;
  display: none;
}

.menu--opened {
  display: block;
}

.menu__list {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0px;
  @media ($tablet-width) {
    text-align: center;
  }
}

.menu__item {
  background: $blue;
  border-bottom: 1px solid #678fa8;
  list-style: none;
  display: block;
  padding: 7px 0;
  &:hover {
    background: $blue-hover;
    color: white;
    @media ($tablet-width) {
      background: white;
    }
  }
  &:active {
    background: $blue-active;
    color: $white30;
    @media ($tablet-width) {
      background: white;
    }
  }

  @media ($tablet-width) {
    display: inline-block;
    vertical-align: top;
    background: white;
    border-bottom: none;
    color: black;
    width: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
      &:nth-child(2) {
        margin-right: 20%;
      }
  }
  @media ($desktop-width) {
    display: inline-block;
    vertical-align: top;

  }
}

.menu__item--active {
  background: $blue-hover;
  @media ($tablet-width) {
    background: white;
  }
}

.menu__item--active:hover,
.menu__item--active:active {
  background: $blue-hover;
  @media ($tablet-width) {
    background: white;
  }
}


.menu__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  font-family: "PT Sans Bold", Arial, sans-serif;

  @media ($tablet-width) {
    color: black;
    font-size: 14px;
    line-height: 26px;
    }
}

.menu__link:hover {
  color: $blue;
}

.menu__link:active {
  color: $black30;
}

.menu__link--active {
  color: #766357;
  @media ($tablet-width) {
    color: #766357;
  }
}

.menu__link--active:hover,
.menu__link--active:active {
  color: #766357;
  cursor: default;
}
