// сам контейнер
.photo {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;

  padding-left: 6%;
  padding-right: 6%;
  width: 88%;


  @media ($tablet-width) {
    width: 44%;
    padding-left: 0%;
    padding-right: 0%;
  }

  @media ($desktop-width) {
    width: 33.333333%;
    }
}

// контейнер для первого фото
.photo--first {

  @media ($tablet-width) {
    width: 88%;
  }

  @media ($desktop-width) {
    width: 100%;
    }

}

// фигуре (изображение +подпись)
.photo__picture {
  margin: 0px;
  overflow: hidden;

  @media ($tablet-width) {

  }

  @media ($desktop-width) {

  }

}

// само изображение
.photo__image {
  width: 280px;
  height: 280px;

  @media ($tablet-width) {
    width: 100%;
  }

  @media ($desktop-width) {

  }
}




.photo__author {
  display: block;
}
