.photos {
  @media ($tablet-width) {
    padding: 0 8%;
  }
  @media ($desktop-width) {
    padding: 0;
  }
}

.photos__header {
  @include after-intro__header;
  padding: 25px 0px 20px;
}

.photos__title {
  @include after-intro__title;
}

.photos__description {
  @include after-intro__description;
  &--shift {
    display: inline;
    @media ($tablet-width) {
      display: block;
    }
  }
}

.photos__container {

  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;

  }
}
