// сам контейнер
.photo {
  border-top: 1px solid #e5e5e5;
  padding: 23px 20px 13px;
  position: relative;
  @media ($tablet-width) {
    width: 50%;
    border-top: none;
    padding: 0px;
    position: relative;
    &:nth-child(1) {
      width: 100%;
    }
  }
  @media ($desktop-width) {
    width: 33.333333%;
    margin-bottom: -7px;
    }
}


// фигуре (изображение +подпись)
.photo__link {
  text-decoration: none;
}


.photo__picture {
  margin: 0px;
  overflow: hidden;
  @media ($tablet-width) {
    background: #f2f2f2;
  }
  @media ($desktop-width) {
    background: none;
    position: relative;
  }
}

// само изображение
.photo__image {
  width: 280px;
  height: 280px;

  @media ($tablet-width) {
    width: 100%;
    height: auto;
  }
}

.photo-description {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 5px;
  @media ($tablet-width) {
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 18px;
  }
  @media ($desktop-width) {
    position: absolute;
    color: white;
    bottom: 7px;
    left: 0px;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 40px;
    padding-top: 15px;
    padding-left: 28px;
  }
}




.photo__author {
  display: block;
  color: #333333;
  font-weight: normal;
  text-transform: none;
  @media ($desktop-width) {
    color: white;
  }
}

.photo__likes {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 9px;

  @media ($tablet-width) {
    right: 25px;
    position: absolute;
    bottom: 28px;
  }
  @media ($desktop-width) {
    color: white;
    right: 17px;
    bottom: 27px;
  }
}

.photo__like {
  fill: #b2b2b2;
  margin-right: 10px;
  @media ($desktop-width) {
    fill: white;
  }
}
