.picture-advantage {
  font-size: 0px;
  width: 100%;
  overflow: hidden;
  line-height: 0px;

  @media ($tablet-width) {
    width: 66.666666%;
    display: inline-block;
    vertical-align: top;
  }
}

.picture-advantage__photo {
  margin: 0px;
  padding: 0px;
}
