.video {
  width: 320px;
  height: 201px;
  margin: 0 auto;
  position: relative;

  background-image: url("../img/video-mobile.jpg");
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 110px;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .intro-index {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }

  @media ($tablet-width) {
    width: 648px;
    height: 499px;
    background-image: url("../img/video-tablet.jpg");
    margin-bottom: 45px;
    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
       .intro-index {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }

  @media ($desktop-width) {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-desktop.jpg");
    margin-bottom: 95px;
    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
       .intro-index {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }
}

.video__control {
  width: 280px;
  height: 111px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: -66px;
  transform: translateX(-50%);
  left: 50%;
  @media ($tablet-width) {
    width: 100%;
    height: 93px;
    bottom: 0px;
  }

  @media ($desktop-width) {
    width: 100%;
    height: 93px;
  }
}

.video__volume {
  width: 100%;
  height: 45px;
  @media ($tablet-width) {
    height: 100%;
  }
  &-scale {
    background: rgba(255,255,255,0.2);
    width: 235px;
    height: 3px;
    top: 22px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    @media ($tablet-width) {
      width: 389px;
      top: 45px;
      transform: translateX(0%);
      left: 88px;
    }
    @media ($desktop-width) {
      width: 541px;
    }
  }
  &-bar {
    width: 9px;
    height: 9px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    left: 37px;
    @media ($tablet-width) {
      left: 112px;
    }
  }
}

.video__btns {
  background: #f2f2f2;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  box-sizing: border-box;
  align-items: center;
  @media ($tablet-width) {
    padding: 0 37px;
    background: none;
    height: 93px;
    position: absolute;
    bottom: 0px;
    top: 0px;
  }
}

.video__repeat,
.video__subtitles,
.video__full-screen {
  fill: #5c6870;
  border: none;
  outline: none;
  background: none;
  height: 20px;

  @media ($tablet-width) {
    fill: white;

  }
}

.video__repeat:hover,
.video__subtitles:hover,
.video__full-screen:hover {
  fill: #333333;
}

.video__repeat:active,
.video__subtitles:active,
.video__full-screen:active {
  fill: #c1c1c1;
}

.video__repeat {
  margin-right: 100px;
  @media ($tablet-width) {
    margin-right: 420px;
  }
  @media ($desktop-width) {
    margin-right: 570px;
  }
}
