.video {
  width: 320px;
  height: 201px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;

  background-image: url("../img/video-mobile.jpg");
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .intro-index {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }

  @media ($tablet-width) {
    width: 648px;
    height: 499px;
    background-image: url("../img/video-tablet.jpg");
    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
       .intro-index {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }

  @media ($desktop-width) {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-desktop.jpg");
    @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
       .intro-index {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }
}

.video__control {
  width: 280px;
  height: 115px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: -66px;
  transform: translateX(-50%);
  left: 50%;
  @media ($tablet-width) {
    width: 648px;
    height: 90px;
    bottom: 0px;
  }

  @media ($desktop-width) {
    width: 800px;
    height: 93px;
  }
}
